body{
background-color:#a2a2b1;
}
nav{
    text-align: center;
    background-color: #8787ec;
    padding: 20px;
    font-style: oblique;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
img{
    height: 200px;
    width: 200px;
    float: right;
    padding: 2%;
}
#about{
    text-align: center;
    padding-left: 400px;
}
footer{
    margin-bottom: 0px;
}
