body{
background-color:#a2a2b1;
}
nav{
    text-align: center;
    background-color: #8787ec;
    padding: 20px;
    font-style: oblique;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
img{
    height: 400px;
    width: 300px;
    float: right;
    padding: 2%;
}
#about{
    text-align: center;
    padding-left: 10px;
}
.contact {
margin-left: 600px;
}
input[type=text], [type=email] {
    margin-top: 20px;
    font-size: 20px;
    color: black;
    text-align: center;
    height: 50px;
}
input[type=submit]{
    border-radius: 20px;
    background-color: green;
    color: black;
    margin-left: 100px;
}
footer{
    margin-bottom: 0px;
    padding-left: 600px;
    margin-top: 100px;
}
