body{
background-color:blue;
}
nav{
    text-align: center;
    background-color: rgb(135, 135, 236);
    padding: 20px;
    font-style: oblique;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
img{
    height: 200px;
    width: 200px;
    float: right;
    padding: 2%;
}

